.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FFFFFF;
  overflow: hidden;
}

/* Header fijo */
.search-header {
  background-color: #4C4245;
  padding: 20px;
  box-shadow: 0 -2px 15px rgb(76, 66, 69);
  z-index: 101;
  flex-shrink: 0;
}

.search-container {
  display: flex;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 15px;
  outline: none;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #333;
}

.back-button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
  font-weight: 600;
}


.back-button {
  background-color: #2c2828;
  color: #fff;
}

.back-button:hover {
  background-color: #000000;
}

/* Contenido scrolleable */
.main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Footer fijo */
.player-controls-wrapper {
  background-color: #FFFFFF;
  z-index: 100;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .search-container {
    flex-wrap: wrap;
  }

  .search-input {
    width: 100%;
  }
}
