@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root{
  --background: #333333;
  --primary-color: #FAF8F6;
  --secundary-color: #102E4A;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: var(--background) ;
  scroll-behavior: smooth;
}
